footer,header{
    text-align: center;
}

ul{
    list-style-type: none;
}

.sidebar{
    a{
        font-weight: bold;
        color: black;
    }
}

.headerbar{
    position:fixed;
    left:0px;
    top:0px;
    height:75px;
    width:100%;
    background:white;
    opacity: 0.9;
    display: none;
}

.header-visible{
    .headerbar{
        display: inline;
    }
}

body{
    padding-left: 10px;
    padding-right: 10px;
}

.paragraph{
    min-height: 100vh;
    text-align: right;
}

@media (min-width: 600px) {
    body{
        padding-left: 0px;
        padding-right: 0px;
    }
}

@media (max-width:599px){
    
    .sidebar{
        display:none;
    }   
}